* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    background-attachment:local;
    background-origin: initial;
}
#logo{
    text-align: center;
    margin-top: 5%;
}
#logo img{
    width: 40%;
}
#arrow{
    text-align: right;
    margin-right: 3%;
    margin-top: -5%;
}
#topBar img{
    width: 100px;
    margin: 30px;
}
#playstationImg{
    position: relative;
    float: left;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    transition: 2s;
}
#playstationImg:hover img{
    -moz-transform: scale(1.005);
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
    opacity: 0.95;
}
#text img{
    width: 300px;
    margin-bottom: 20px;
}
#text{
    position: relative;
    float: left;
    margin-left: 5%;
    width: 30%;
}
button{
    width: 40%;
    height: 50px;
}
.card{
    text-align: center;
}
.card ul li {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.788);
    width: 20%;
    color: black;
    display: inline-block;
    cursor: pointer;
    width: 18%;
    margin-left: 2%;
    margin-top: 2%;
}

  /* On mouse-over, add a deeper shadow */
.card ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.356);
}

.card img{
    width: 
    100%;
}
.card img:hover{
    opacity: 0.7;
}
#btn1{
    position: absolute;
    float: left;
    left: 20%;
    margin-top: -42%;
}
#btn1:hover{
    opacity: 0.5;
}
#btn2{
    position: absolute;
    float: left;
    left: 55%;
    margin-top: -25%;
}
#btn2:hover{
    opacity: 0.5;
}
#btn3{
    position: absolute;
    float: left;
    left: 68%;
    margin-top: -33%;
}
#btn3:hover{
    opacity: 0.5;
}
#btn4{
    position: absolute;
    float: left;
    left: 47%;
    margin-top: -45%;
}
#btn4:hover{
    opacity: 0.5;
}
#btn5{
    position: absolute;
    float: left;
    left: 60%;
    margin-top: -55%;
}
#btn5:hover{
    opacity: 0.5;
}
#btn1Text, #btn2Text , #btn3Text, #btn4Text, #btn5Text{
    position: absolute;
    float: right;
    text-align: center;
    background-color: rgba(224, 223, 223);
    width: 40%;
    height: 100%;
    right: 0%;
    top: 0%;
}
#btn1Text img, #btn2Text img, #btn3Text img, #btn4Text img ,#btn5Text  img{
    margin: 5%;
    margin-top: 10%;
}

#textDesc{
    text-align: justify;
    margin-left: 12%;
    margin-right: 12%;
}

#gameBar1, #gameBar2, #gameBar3, #gameBar4, #gameBar5, #gameBar6, #gameBar7, #gameBar8{
    position: absolute;
    float: right;
    text-align: center;
    background-color: rgba(190, 190, 190, 0.637);
    width: 40%;
    height: 120%;
    right: 0%;
    top: 0%;
    filter: drop-shadow(8px 8px 100px rgba(0, 0, 0, 0.527));
}

#gameBar1 img, #gameBar2 img, #gameBar3 img, #gameBar4 img, #gameBar5 img , #gameBar6 img, #gameBar7 img, #gameBar8 img{
    width: 300px;
    margin-top: 10%;
}
#gameBar1 h1, #gameBar2 h1, #gameBar3 h1, #gameBar4 h1, #gameBar5 h1 , #gameBar6 h1, #gameBar7 h1, #gameBar8 h1{
    margin-top: 5%;
}
#gameBar1 h4, #gameBar2 h4, #gameBar3 h4, #gameBar4 h4, #gameBar5 h4 , #gameBar6 h4, #gameBar7 h4, #gameBar8 h4{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
